.about-note {
  font-size: 12px;
}

.about-developer-value {
  font-size: 14px;
  color: var(--ion-color-medium);
}

.about-footer {
  padding: 16px;
  text-align: center;
}

.center-left {
  top: 50%;
  left: 8px;
  transform: translateY(-11%);
  margin-right: 8px;
}
